PORT=3000
DEEPSEEK_API_KEY=sk-ec4c4bd34d1746fa81cbc8559d3aacc3
FILE_BASE_URL=http://localhost:3000/files
SESSION_SECRET=change_me_long_random
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2b$12$w7LwoyBTUlzHj3f2.sBnJOj6im.Wjyu3iGMGTUKWkMjqN3t47r2rK
